@keyframes ani-bn {
    from {
        opacity: 0;    
    }
    to {
        opacity: 1;
    }
}

@keyframes ani-hd {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}